mat-panel-title,
mat-panel-description {
  flex: 1;
}

::ng-deep .mat-chip-list-wrapper {
  flex-wrap: nowrap !important;
}

mat-panel-description {
  white-space: nowrap;
}

.sl-key-chip {
  white-space: nowrap;
  font-size: 0.84rem;
  user-select: none;
}
