.content {
  padding: 0 15px;

  .top-content {
    padding: 10px;
    text-align: center;

    & > * {
      margin: 5px 0;
    }
  }
}

.info_label {
  white-space: break-spaces;
}

.send-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
