.content {
  padding: 0 15px;

  .top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    & > * {
      margin: 5px 0;
    }
  }
}

.info_label {
  white-space: break-spaces;
}

.send-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
