.toolbar-title {
  flex: 1;
  user-select: none;
}

app-text-toggle-switch {
  display: flex;
  margin: 0 10px;
}

.content {
  padding: 0 15px;

  .top-content {
    text-align: center;
    padding: 15px;
  }
}

.info_label {
  white-space: break-spaces;
}

.send-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
