<div class="container">

  <mat-toolbar color="primary">
    <span>{{ title }}</span>
  </mat-toolbar>
  <mat-progress-bar *ngIf="isLoading" color="accent" mode="indeterminate"></mat-progress-bar>

  <div class="content">
    <div class="top-content">
      <mat-slide-toggle [(ngModel)]="useMock">Use mock</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="useListMode">View Mode: {{ useListMode ? 'List' : 'Accordion' }}</mat-slide-toggle>
      <div class="info_label">{{ infoLabel }}</div>
    </div>

    <app-ref-lists [data]="data" [serviceLevelKeys]="configService.getServiceLevelKeys()" [useListMode]="useListMode"></app-ref-lists>

    <button mat-fab class="send-button" color="primary" (click)="sendRequest()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
