<div class="container">

  <mat-toolbar color="primary">
    <span class="toolbar-title">{{ title }}</span>
    <button (click)="openSettingsDialog()" mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar *ngIf="isLoading" color="accent" mode="indeterminate"></mat-progress-bar>

  <div class="content">
    <div class="top-content">
      <mat-slide-toggle [(ngModel)]="useMock">Use mock</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="useListMode" (ngModelChange)="viewModeChanged()">
        View Mode: {{ useListMode ? 'List' : 'Accordion' }}
      </mat-slide-toggle>
      <div class="info_label">{{ infoLabel }}</div>
    </div>

    <app-ref-lists *ngIf="useListMode; else accordion" [data]="data" [serviceLevelKeys]="configService.getServiceLevelKeys()"></app-ref-lists>
    <ng-template #accordion>
      <app-ref-accordion [data]="data" [serviceLevelKeys]="configService.getServiceLevelKeys()"></app-ref-accordion>
    </ng-template>

    <button mat-fab class="send-button" color="primary" (click)="sendRequest()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
