.top-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.middle-container {
  display: flex;
  justify-content: space-evenly;
}

.bottom-container {
  display: flex;
  align-items: flex-start;
}

.ref-input {
  height: 100%;
  overflow-y: auto;
  max-height: 350px;

  ::ng-deep .mat-form-field-wrapper {
    padding: 0 !important;
  }
}

.sl-keys-table {
  flex: 1;
  margin: 4px 7px;

  th.mat-header-cell,
  td.mat-cell {
    padding-left: 24px;
  }

  .add-item-header,
  .add-item-cell {
    padding-right: 5px;
  }

  .add-item-header {
    text-align: center;
  }

  .sl-key-table-span {
    font-size: 12px;
    font-style: italic;
  }

  .table-btn-action {

    mat-icon {
      font-size: 22px;
    }
  }
}
