/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
}
